
%div.content
  %h1 Latest Transactions
  %table#transactionsTable
    %thead
      %tr
        %th timestamp
        %th contract
        %th facility
        %th method
        %th time_taken
        %th product
      %tr 
        %form
          %td
          %td
            %input(name='contract')
          %td
            %input(name='facility')
          %td
            %input{name: 'method', value: params[:method]}
          %td 
            %input{name:'time_taken', value: params[:time_taken] }
          %td
            %input(name='product')
            %input#searchButton(type='image' src='search.png' height='16' width='16')
    %tbody
      - @transactions.each do |row| 
        %tr 
          %td= row.timestamp.to_s
          %td= row.contract
          %td= row.facility
          %td= row.method
          %td= row.time_taken
          %td= row.product
