
%div.content
  %h1 Latest Transactions
  %table#transactionsTable
    %thead
      %tr
        %th timestamp
        %th contract
        %th facility
        %th method
        %th time_taken
        %th product
      %tr 
        %td
          %input{ name: 'timestampSearch' }
        %td
          %input{ name: 'contractSearch' }
        %td
          %input{ name: 'facilitySearch' }
        %td
          %input{ name: 'methodSearch' }
        %td 
          %input{ name: 'time_takenSearch' }
        %td
          %input{ name: 'productSearch' }
    %tbody
      - @transactions.each do |row| 
        %tr 
          %td= row[:timestamp].to_s
          %td= row[:contract]
          %td= row[:facility]
          %td= row[:method]
          %td= row[:time_taken]
          %td= row[:product]
